<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="background-image">
        <img src="../images/dorm.png" alt="">
    </div>
    <div class="edit-profile-wrapper">


        <div class="edit-profile-container">
            <h1>Edit Account Information</h1>
            <form id="edit-profile-form" enctype="multipart/form-data">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
                <label for="editPassword">New Password:</label>
                <input type="password" id="editPassword" name="editPassword">
                <label for="rePassword">Re-enter New Password:</label>
                <input type="password" id="rePassword" name="rePassword">
                <label for="imgfile">Profile Image</label>
                <input type="file" name="imgfile" accept="image/" id="imgfile">
                <label for="description">Edit Personal Description:</label>
                <textarea name="personalDescription" id="personalDescription" rows="4"><%= user.personalProfile %></textarea>
                <label for="description">Edit Gym Description:</label>
                <textarea name="gymDescription" id="gymDescription" rows="4"><%= user.gymProfile %></textarea>
                <button id="save-changes-button">Save Changes</button>
                <button id="delete-account-button" class="log-out">Delete Account</button>
            </form>
        </div>
    
        <div class="overlay" id="confirmationOverlay">
            <div class="confirmation-box">
                <h2>Confirm Account Deletion</h2>
                <label for="confirmationEmail">Email:</label>
                <input type="email" id="confirmationEmail" name="confirmationEmail" required>
                <label for="confirmationPassword">Password:</label>
                <input type="password" id="confirmationPassword" name="confirmationPassword" required>
                <button id="cancelDelete">Cancel</button>
                <button id="confirmDelete">Confirm</button>
            </div>
        </div>
        
          
    </div>
   

    <%- include('./partials/footer.ejs') %>
  <script src="../JS files/nav.js"></script>
  <script src="../JS files/editProfile.js"></script>
</body>
</html>

