<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>


    <h2 class="profile-header">Viewing <%= user.userName %>'s Profile</h2>
    <div class="background-image">
        <img src="../images/wave.png" alt="">
    </div>
    <main>
        <section class="profile-container" id= "<%= user._id %>">
            <div class="pfp">
                <% if (user.profileImage) { %>
                    <img src="<%= user.profileImage %>" alt="Profile Image">
                <% } else { %>
                    <img src="../images/anonymous-profile.png" alt="Default Image">
                <% } %>
            </div>
            

            <div class="profile-body">
                    <h2 class="profile-name"> <%= user.firstName %> <%= user.lastName %> </h2>
                <div class="profile-toggler">
                    <span class="toggle-button active" data-description="gym">Gym</span>
                    <span class="toggle-button" data-description="personal">Personal</span>
                </div>
                <div class="profile-description">
                        <p class="gym-description" style="white-space: pre-line;">
                            <% if (user.gymProfile === null || user.gymProfile === "") { %>
                                You have no gym description
                            <% } else { %>
                                <%= user.gymProfile %>
                            <% } %>
                            
                        </p>
                
                   
                        <p class="personal-description" style="white-space: pre-line;">
                            <% if (user.personalProfile === null || user.personalProfile === "") { %>
                               You have no personal description
                           <% } else { %>
                               <%= user.personalProfile %>
                           <% } %>
                       </p>
                    
                </div>
            </div>
        </section>
        
        

        <aside class="followers-container">
                <h2 class="follower-title">Following</h2>
            <div class="followers">
                <% if (followers && followers.length > 0) { %>
                    <% followers.forEach((follower) => { %>
                        <div class="follower" id="<%=follower._id %>">
                            <div class="follower-pfp">
                                <% if (follower.profileImage) { %>
                                    <img src="<%= follower.profileImage %>" alt="Profile Image">
                                <% } else { %>
                                    <img src="../images/anonymous-profile.png" alt="Default Profile Image">
                                <% } %>
                            </div>
                            <div class="follower-body">
                                <div class="follower-name">
                                    <h2> @<%= follower.userName %></h2>
                                </div>
                                <div class="follower-details">
                                    <h2><%= follower.firstName %> <%=follower.lastName %></h2>
                                    
                                    <button class="removeFollowers-button" data-followerid="<%= follower._id %>">Remove</button>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="no-followers-text">No followers yet.</p>
                <% } %>
            </div>
        </aside>
        
        
        
        
        
        
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="../JS files/nav.js"></script>
    <script src="../JS files/myProfile.js"></script>
</body>
</html>