<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="background-image">
        <img src="../images/gym.png" alt="">
    </div>
    <div class="user-search-wrapper">
        <h2>Showing results for: <%= searchTerm %></h2>
        <div class="users-search-results">
            <% if (users.length > 0) { %>
                <% users.forEach(user => { %>
                    <div class="user" id ="<%= user._id %>">
                        <div class="user-pfp">
                            <img src="<%= user.profileImage || '../images/anonymous-profile.png' %>" alt="Default Profile Picture">
                        </div>
                        <div class="user-info">
                            <p class="username"><%= '@' + user.userName %></p>
                            <p class="user-first-last-names"><%= user.firstName %> <%= user.lastName %></p>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No matching users found.</p>
            <% } %>
        </div>
        
    </div>
    
    <%- include('./partials/footer.ejs') %>
    <script src="../JS files/nav.js"></script>
    <script src = "../JS files/userSearch.js"></script>
</body>
</html>